body {
    background: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #161b22;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #58a6ff;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    background: #238636;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2ea043;
}

.country-card {
    background: #21262d;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 20px;
}

/* Country Header */
.country-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.country-header img {
    width: 100px;
    border-radius: 12px;
    border: 2px solid #238636;
}

.country-header h2 {
    margin: 0;
    font-size: 1.8rem;
    color: #58a6ff;
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
}

@media (max-width: 700px) {
    .stats-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 500px) {
    .stats-grid {
        grid-template-columns: 1fr; /* 1 per row on mobile */
    }
}

/* Individual stat boxes */
.stat-box {
    background: #0d1117;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.stat-box h3 {
    margin: 0 0 8px 0;
    font-size: 1rem;
    color: #8b949e;
}

.stat-box p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #c9d1d9;
}

.stat-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}

.error {
    color: #f85149;
    text-align: center;
    margin-bottom: 15px;
}
